:root {
  --livingcoral: #ff6f61;
  --sideBg: #407899;
}

body {
  margin-top: 60px;
  overflow-x: hidden;
  font-family: 'Quicksand';
  padding: 0px;
}

header {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  position: relative;
}

.header-img {
  margin-bottom: auto;
}

.over-text {
  position: absolute;
  color: white;
  font-size: 20pt;
  padding: 0.2em 0.5em;
  background: linear-gradient(to right, #05f7f2bf 0%, #41dc0dc9 100%);
  margin-top: 24%;
  left: 50%;
  transform: translate(-50%);
  animation-name: opening;
  animation-duration: 2.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.anim {
  font-size: 20pt;
  animation-name: text-anim;
  animation-duration: 2.7s;
  animation-timing-function: linear;
}

@keyframes opening {
  0% {opacity: 0; height: 0px; width: 0px;}
  60% {opacity: 0; height: 0px; width: 0px;}
  80% {width: 245px; height: 0px; opacity: 1;}
  100% {width: 245px; height: 51px; opacity: 1;}
}

@keyframes text-anim {
  0% {opacity: 0; display: none;}
  80% {opacity: 0; display: none;}
  100% {opacity: 1; display: inline-block;}
}

nav {
  max-height: 75px;
  background: linear-gradient(to bottom, white 80%, #ffffff00 100%);
}

.nav-logo {
  position: absolute;
  top: 15px;
  left: 2rem;
  width: 110px;
  border-radius: 50%;
  border: 5px solid #f4f3eee0;
  z-index: 9;
}

.sub-logo {
  width: 120px;
  border-radius: 50%;
  border: 10px solid #00cef1;
  transform: translateY(25px);
  cursor: pointer;
}

.footer-logo {
  width: 90px;
  border-radius: 50%;
  border: 3px solid #dadada;
}

@media (max-width: 575px) {
  .sub-logo {
    width: 100px;
  }
  .nav-logo {
    width: 90px;
    top: 15px;
    left: 1rem;
    z-index: 0;
  }
  .footer-logo {
    width: 70px
  }
  .nav-item {
    padding: 0px 16px;
    background-color: white;
  }
  nav {
    padding-top: 10px;
    max-height: 60px;
  }
  body {
    margin-top: 50px;
  }
  .nav-toggler {
    margin-bottom: 20px;
  }
  #Navbar {
    background-color: white;
    z-index: 9;
    box-shadow: 0px 20px 8px 20px white;
    max-height: 125px;
  }
  @keyframes opening {
    0% {opacity: 0; height: 0px; width: 0px;}
    60% {opacity: 0; height: 0px; width: 0px;}
    80% {width: 120px; height: 0px; opacity: 1;}
    100% {width: 120px; height: 90px; opacity: 1;}
  }

  @keyframes text-anim {
    0% {opacity: 0; display: none;}
    30% {opacity: 0; display: none;}
    50% {opacity: 1; display: inline-block;}
  }

  .over-text {
    position: absolute;
    color: white;
    padding: 0.2em 0.5em;
    background: linear-gradient(to right, #05f7f252 0%, #1bad1d9e 100%);
    margin-top: 15%;
    left: 50%;
    transform: translate(-50%);
    animation-name: opening;
    animation-duration: 1.2s;
    animation-timing-function: linear;
  }
  .anim {
    font-size: 12pt;
  }
}

.small-border {
  border-right: 1px solid black;
  margin: 0px 0.2em;
  height: 20px;
}

.active {
  background-color: #afffe0;
  border-radius: 7px;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.container {
  margin-bottom: 15px;
}

.row-content {
  margin: 0px auto;
  min-height: 400px;
}

.sub-text {
  color: floralWhite;
  border: 3px solid #00cef1;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 0.5em;
  font-size: 12pt;
  background-color: #00cef1;
}

.jumbotron {
  background: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18pt;
  background-color: var(--livingcoral);
  padding: 1em 1em;
  max-width: 500px;
  color: floralWhite;
}

.nav-item:hover {
  border-radius: 7px;
  background-color: #afffe0;
  transition: 0.5s;
}

#toggler-arrow {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 0;
  color: white;
  background-color: var(--sideBg);
  width: 30px;
  z-index: 99;
  cursor: pointer;
  transition: 0.25s;
  animation-name: popup;
  animation-duration: 1s;
}

#ar:hover {
  transform: translateX(5px);
}

@keyframes popup {
  0% {
    left: -30px;
  } 40% {
    left: -30px;
  } 100% {
    left: 0px;
  }
}

#ar {
  transition: 0.25s;
}

.rotate {
  animation: rotate 0.25s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
    from {
      transform: rotate(0);
    } to {
      transform: rotate(180deg);
    }
}

.side-bar {
  top: 0;
  left: -300px;
  position: fixed;
  height: 100%;
  width: 300px;
  z-index: 999;
  background-color: var(--sideBg);
  transition: 0.25s;
  padding-top: 120px;
  color: floralWhite;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 5em;
}

.side-head {
  padding: 30px 30px;
  font-size: 20pt;
  font-family: 'Raleway';
  margin-bottom: 2em;
}


.side-btn {
  color: white;
  text-align: left;
  border-radius: 0px;
  background-color: var(--sideBg);
}

.side-btn:hover {
  background-color: #8CAEC1;
}

#img-media {
  border-radius: 5px;
}

.start {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.25s;
}

.btn-primary:hover {
  background-color: white;
  color: #007bff;

}

footer {
  padding: 40px 16px;
  background-color: #F4F3EE;
  line-height: 30px;
}

.designed-by {
  margin-top: 15px;
  border: 2px dashed #dadada;
  padding: 0.5em;
}

.sideBar-primary {
  width: 240px;
}

.sideBar-secondary {
  width: 240px;
  margin-left: 40px;
  border-left: 3px solid #345d75;
}

#subHeader {
  font-size: 12pt;
  padding-left: 42px;
}

.close {
  padding-top: 0px;
  color: floralWhite;
  margin-right: 1.5em;
  transform: translateY(-30px);
}

.close:hover {
  color: floralWhite;
}

.modal-footer {
  height: 150px;
}
